<p>about works!</p>

<div *ngIf="bookDetails">
    <h1>Book Title: {{ bookDetails.volumeInfo.title }}</h1>
    <p>{{ bookDetails.volumeInfo.description }}</p>
    <img [src]="bookDetails.volumeInfo.imageLinks.thumbnail" alt="" height="200">
</div>