<p>home works!</p>

Query Book: <input type="text" #myInput>
<button (click)="onSearch(myInput.value)">Search</button>

<div class="output">
    <div class="item" *ngFor="let book of books">
        <h3>{{book.volumeInfo.title}}</h3>
        <a [routerLink]="['/about/', book.id]">View Datails</a>
    </div>
</div>
