<div class="container">
    <div class="header">
        Header Area
        <nav>
            <ul>
                <li>
                    <a routerLink="/">Home</a>
                </li>
                <li>
                    <a [routerLink]="['/about/', firstName]">About 1st_Name</a>
                </li>
                <li>
                    <a [routerLink]="['/about/', secondName]">About 2nd_Name</a>
                </li>
                <li>
                    <a [routerLink]="['/about/', thirdName]">About 3rd_Name</a>
                </li>
                <li>
                    <a routerLink="/contact-us">ContactUs</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="content-area">
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        Footer Area
    </div>
</div>