.container{
    display: flex;
    flex-direction: column;
    height: 98vh;
}

.header, .footer{
    padding: 10px;
    background-color: beige;
    border-bottom: 1px solid gray;
}
.content-area{
    flex: 1;
}